* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

button {
    padding: 10px;
    background-color: #15adee;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #247fe0;
}

.buttonContainer {
    width: 95%;
    display: flex;
    justify-content: flex-end;
}